#Unclickable > * {
    mstouchaction: "manipulation";
    touchaction: "none" f;
    userselect: "none";

    webkittouchcallout: "none";
    webkituserselect: "none";
    webkittaphighlightcolor: "rgba(255,255,255,0)";
}
