#Unclickable > * {

    msTouchAction: "manipulation",
    touchAction: "none",
    userSelect: "none",

    // Prevent canvas selection on ios
    // https://github.com/playcanvas/editor/issues/160
    WebkitTouchCallout: "none",
    WebkitUserSelect: "none",
    WebkitTapHighlightColor: "rgba(255,255,255,0)",
}